<ion-view view-title="Movimientos">
  <ion-content>
    <ion-list>
      <button class="button button-assertive" ng-click="grabar()">Grabar</button>}
      <button class="button button-assertive" ng-click="play()">play</button>
      <button class="button button-assertive" ng-click="pausar()">pausar</button>
      <button class="button button-calm" ng-click="guardarJson()">Detener grabaci&oacute;n</button>
      <div>{{position.x}}--{{position.y}}--{{position.z}}</div>
      <div>{{filename}}</div>
    </ion-list>
  </ion-content>
</ion-view>
